{{#partial "content"}}
    <div class="row">
    <div class="card-group">
        <div class="col-md-4">
            <div class="card img" >
                <img src="/images/lion.jpeg" height="300">
            </div>
        </div>
        <div class="col-md-4">
            <div class="card img" >
                <img src="/images/elephant.jpg"  height="300">
            </div>
        </div>
        <div class="col-md-4">
            <div class="card img" >
                <img src="/images/leopard.jpeg"  height="300">
            </div>
        </div>
        <div class="col-md-4">
            <div class="card img">
                <img src="/images/tiger.jpg" height="300">
            </div>
        </div>
        <div class="col-md-4">
            <div class="card img">
                <img src="/images/rhino.jpeg" height="300">
            </div>
        </div>
        <div class="col-md-4">
            <div class="card img">
                <img src="/images/hyena.jpeg"height="300">
            </div>
        </div>

    </div>
    </div>

{{/partial}}
{{>layout.hbs}}